<h1>Newsletter #{{newsletter.id}}</h1>

<!-- stepper for representing newsletter status -->
<mat-horizontal-stepper #stepper [linear]="true" selectedIndex="-1">
  <mat-step [editable]="false" [completed]="isWaiting()" state="waiting">
      <ng-template matStepLabel>En attente</ng-template>
  </mat-step>
  <mat-step [editable]="false" [completed]="isPrepared()" state="preparing">
      <ng-template matStepLabel>Préparation</ng-template>
  </mat-step>
  <mat-step [editable]="false" [completed]="isSent()" state="sending">
      <ng-template matStepLabel>Envoi</ng-template>
  </mat-step>
  <mat-step [editable]="false" [completed]="isReceived()" state="receiving">
      <ng-template matStepLabel>Réception</ng-template>
  </mat-step>


  <ng-template matStepperIcon="waiting">
    <mat-icon>update</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="preparing">
    <mat-icon>track_changes</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="sending">
    <mat-icon>flight_takeoff</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="receiving">
    <mat-icon>flight_land</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

<div class="newsletter-fields" style="display: flex; flex-direction: column;">
  <mat-form-field>
    <input matInput [(ngModel)]="newsletter.name" placeholder="Nom">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="newsletter.expeditor" placeholder="Expéditeur">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Périodicité</mat-label>
  <mat-select [(value)]="newsletter.expectedPeriodicity">
    <mat-option value="daily">
      Quotidienne
    </mat-option>
    <mat-option value="weekly">
      Hebdomadaire
    </mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="newsletter.expectedTimeOfArrival" placeholder="Heure d'envoi">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="newsletter.toleranceBeforeWarning" placeholder="Délai avant retard">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="newsletter.toleranceBeforeError" placeholder="Délai avant erreur">
  </mat-form-field>
</div>

<button mat-flat-button color="primary" class="newsletter-save-btn" (click)="save()"><mat-icon>save</mat-icon> Enregistrer</button>


<!-- card for last email preview -->
<mat-card class="newsletter-email">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>mail_outline</mat-icon></div>
    <mat-card-title>{{newsletter?.lastEmail?.subject}}</mat-card-title>
    <mat-card-subtitle>Reçu à {{newsletter?.lastEmail?.date | date:'H:mm (EEEE d MMMM)' }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="newsletter-email old">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>mail_outline</mat-icon></div>
    <mat-card-title>{{newsletter?.lastEmail?.subject}}</mat-card-title>
    <mat-card-subtitle>Reçu à {{newsletter?.lastEmail?.date | date:'H:mm (EEEE d MMMM)' }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="newsletter-email old">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>mail_outline</mat-icon></div>
    <mat-card-title>{{newsletter?.lastEmail?.subject}}</mat-card-title>
    <mat-card-subtitle>Reçu à {{newsletter?.lastEmail?.date | date:'H:mm (EEEE d MMMM)' }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
