
.sendings-overview-table {
  display: block;
  width: 50%;
  max-width: 1200px;
  min-width: 600px;
  margin: auto;
}

mat-toolbar {
  mat-icon {
    vertical-align: text-bottom;
  }
}

/*
h1 {
  position: relative;
  top: -30px;
  margin: 0px;

}

h2 {
  text-align: left;
  padding-left: 200px;
}

.app-logo {
  display: inline-block;
  position: relative;
  top: 30px;
}


.gmail-btn {
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 10;
}


.legend {
  background-color: white;
  width: 100%;
  border-top: solid 2px lightgray;
  position: fixed;
  bottom: 0px;
  left: 0px;

h3 {
  margin-bottom: 0px;
}

  li {
    display: inline-block;
    margin: 0px 30px;

    mat-icon {
      display: inline-block;
      position: relative;
      top: 5px;
    }
  }
}



mat-sidenav-container {
  min-height: 100%;
}
*/
